*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #333;
  color: #fff;
  height: 60px;
}
.nav ul{
  display: flex;
  gap: 20px;
  list-style: none;
}
.link{
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.link:hover{
  color: #a19090;
}
.container{
  width: 80%;
  min-height: 100vh;
  border: solid #333;
  margin: auto;
  text-align: center;
}
.products{
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}
.product{
  border: 1px solid;
  width: 200px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.list{
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 50px;
}
.button{
  padding: 5px;
  width: 70px;
  text-decoration: none;
  background-color: #333;
  color: #fff;
  font-size: 20px;
}
.search{
  margin-top: 50px;
}
.search input{
  width: 500px;
  height: 30px;
  background-color: #a19090;
  color: #fff;
  border: none;
  padding: 5px;
  border-radius: 5px;
}
.search input::placeholder{
  color: #fff;
  font-size: 18px;
}
.search button{
  height: 30px;
  margin-left: 10px;
  border-radius: 5px;
  border: none;
  background-color: #333;
  color: #fff;
  padding: 0 10px;
}
.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}
.form input{
  width: 300px;
  height: 30px;
  padding-left: 10px;
}
.form button{
  border: none;
  padding: 5px 25px;
  background-color: #333;
  color: #fff;
  font-size: 20px;
  border-radius: 5px;
}
.cart{
  border: solid;
  width: 200px;
  height: 250px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.button-2{
  padding: 5px;
  border: none;
  background-color: #333;
  color: #fff;
}